@font-face {
  font-family: 'Fredoka';
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url('../public/fonts/Fredoka-Light.ttf');
}
@font-face {
  font-family: 'Fredoka';
  font-style: regular;
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/Fredoka-Regular.ttf');
}
@font-face {
  font-family: 'Fredoka';
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url('../public/fonts/Fredoka-Medium.ttf');
}
@font-face {
  font-family: 'Fredoka';
  font-style: semi-bold;
  font-weight: 600;
  font-display: swap;
  src: url('../public/fonts/Fredoka-SemiBold.ttf');
}
@font-face {
  font-family: 'Fredoka';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('../public/fonts/Fredoka-Bold.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 2% 5%;
  font-family: 'Fredoka';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/wallpaper.jpg');
  background: linear-gradient(rgba(31, 31, 31, 0.8), rgba(41, 41, 41, 0.8)),
    url('./assets/wallpaper.jpg'); /* The least supported option. */

  object-fit: cover;
  background-position: center;
}
